#site-footer {
    background-color: $color__primary;
    clear: both;

    .main-footer {
        column-gap: $size_15;
        display: grid;
        grid-template-areas:
        'footer-logo'
        'footer-nav';
        grid-template-columns: auto;
        padding: ($padding__section/4) 0;

        @include media(mobile) {
            grid-template-areas: 'footer-logo footer-nav';
            grid-template-columns: max-content auto;
        }
    }

    .home-link {
        align-self: center;
        grid-area: footer-logo;
        margin: ($size_15/4) 0;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            width: 200px;
        }
    }

    .footer-nav {
        align-self: center;
        grid-area: footer-nav;

        .sub-menu {
            display: none;
        }

        > ul {
            > .menu-item-has-children {
                position: relative;

                > ul {
                    background-color: $color__primary;
                    padding: $size_3;
                    top: 100%;
                    z-index: 9;

                    @include media(tablet) {
                        box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
                        max-width: 100vw;
                        position: absolute;
                        width: max-content;

                        ul {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        ul {
            align-items: center;
            display: block;
            flex-wrap: wrap;
            justify-content: center;

            @include media(mobile) {
                display: flex;
            }
        }

        li {
            margin: 0 ($size_15/2);
            text-align: center;

            .cta {
                display: block;
                margin-bottom: $size_4;
                margin-top: $size_4;
            }
        }

        a {
            color: white;
            display: block;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        .cta a {
            border: 2px solid white;
            border-radius: 50px;
            padding: $size_4 $size_7;

            &:hover,
            &:focus {
                background-color: white;
                color: $color__purple;
                text-decoration: none;
            }
        }
    }

    .copyright {
        color: white;

        p {
            font-size: $font__size-xxs;
            font-weight: bold;
            margin: 0;
            padding: $size_1 0;
            text-align: center;
        }

        a {
            color: white;
        }
    }
}