.entry-header {
    position: relative;

    .entry-title {
        max-width: $width__tablet;
        margin-left: auto;
        margin-right: auto;
        word-wrap: break-word;
    }

    &.has-post-thumbnail {
        background-color: $color__primary;
        display: table;
        margin: 0 (-$padding__wrapper);
        min-height: 80vh;
        width: calc(100% + 2 * #{$padding__wrapper});

        .entry-title {
            //background-color: rgba($color__primary, .85);
            color: white;
            display: table-cell;
            height: 100%;
            padding: $padding__section $padding__wrapper;
            position: relative;
            vertical-align: middle;
            width: 100%;
            z-index: 1;

            h1 {
                color: white;
            }
        }
    }

    .featured-image-blend {
        background-color: $color__primary;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        .featured-image-blend-color {
            background: $color__primary;
            height: 100%;
            left: 0;
            mix-blend-mode: color;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .featured-image {
            background-blend-mode: multiply;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            left: 0;
            mix-blend-mode: multiply;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
    }
}

#menu-home-cta-button {
    list-style: none;
    margin: $size_11 0 0;
    padding: 0;
    text-align: center;

    a {
        border: 2px solid white;
        border-radius: 50px;
        color: white;
        display: inline-block;
        font-size: $font__size-sm;
        margin: $size_4;
        padding: $size_2 $size_7;
        text-decoration: none;
        text-transform: uppercase;

        @include element-transition(background-color, color);

        &:hover,
        &:focus {
            background-color: white;
            color: $color__purple;
        }
    }

}

.section-inner {
    margin-bottom: $size_7;
    margin-left: auto;
    margin-right: auto;
    max-width: $width__tablet;

    .pagination-single-inner {
        &:after {
            clear: both;
            content: "";
            display: block;
        }
    }

    .next-post {
        float: right;
    }
}

.entry-content {
    margin-left: auto;
    margin-right: auto;
    max-width: $width__tablet;
    padding: $padding__section 0;

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    > *:not(.wp-block-group) {
        margin-bottom: $size_7;
        margin-top: 0;
        max-width: 100%;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    > .wp-block-group {

        &.has-background:not(.has-white-background-color) {
            margin-left: (-$padding__wrapper);
            margin-right: (-$padding__wrapper);
            margin-top: $padding__section;
            padding: $padding__section $padding__wrapper;

            @include media(tablet) {
                left: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
                position: relative;
                right: 50%;
                width: 100vw;
            }

            + .wp-block-group.has-background {
                margin-top: 0;
            }

            + *:not(.wp-block-group) {
                margin-top: $padding__section;
            }
        }

        &:last-child {
            margin-bottom: (-$padding__section);
        }

        .wp-block-group__inner-container {

            > *:first-child {
                margin-top: 0;
            }
    
            > *:last-child {
                margin-bottom: 0;
            }
        }
        
    }

    > .wp-block-columns {
        margin-left: -5.62vw;
        margin-right: -5.62vw;
        max-width: none;
        padding-left: 5.62vw;
        padding-right: 5.62vw;

        @include media(tablet) {
            left: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            position: relative;
            right: 50%;
            width: 100vw;
        }

        .wp-block-column {

            > *:first-child {
                margin-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}