// CSS Grid
.grid-parent {
    @include display-grid;
}

.wrapper {
    padding-left: $padding__wrapper;
    padding-right: $padding__wrapper;
}

.screen-reader-text {
    @include screen-reader-text;
}

.alignleft {
    float: left;
    margin-left: 0;
    margin-right: $size_7;
}

.alignright {
    float: right;
    margin-left: $size_7;
    margin-right: 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignnone {
    margin-left: 0;
    margin-right: 0;
}

.wp-block-column {
    margin-bottom: $size_11;
    margin-top: $size_11;
}

.has-maurchi-purple-background-color {
    background-color: $color__purple;
}

.has-maurchi-red-background-color {
    background-color: $color__red;
}

.has-maurchi-orange-background-color {
    background-color: $color__orange;
}

.has-maurchi-yellow-background-color {
    background-color: $color__yellow;
}

.has-maurchi-green-background-color {
    background-color: $color__green;
}

.has-maurchi-blue-background-color {
    background-color: $color__blue;
}

.has-maurchi-lavender-background-color {
    background-color: $color__lavender;
}

.has-white-background-color {
    background-color: white;
}

.has-black-background-color {
    background-color: black;
}

.has-maurchi-purple-color,
.has-maurchi-purple-color a {
    color: $color__purple;
}

.has-maurchi-red-color,
.has-maurchi-red-color a {
    color: $color__red;
}

.has-maurchi-orange-color,
.has-maurchi-orange-color a {
    color: $color__orange;
}

.has-maurchi-yellow-color,
.has-maurchi-yellow-color a {
    color: $color__yellow;
}

.has-maurchi-green-color,
.has-maurchi-green-color a {
    color: $color__green;
}

.has-maurchi-blue-color,
.has-maurchi-blue-color a {
    color: $color__blue;
}

.has-maurchi-lavender-color,
.has-maurchi-lavender-color a {
    color: $color__lavender;
}

.has-white-color {
    color: white;
}

.has-black-color {
    color: black;
}